<div class="header">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Wolfpack </span>
            <span class="align-right"></span>
            <span>
            <button mat-button>
                <span>Help&nbsp;</span><mat-icon class="helper-icons">help_outline</mat-icon>
            </button>
            </span>
            <span>
            <button mat-button (click)="navigateToSignUp('signup')">
                <span>Sign Up&nbsp;</span>
                <mat-icon class="helper-icons">perm_identity</mat-icon>
            </button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
